.env
/.DS_Store
node_modules
logs/
.idea
.cursorrules

/public/uploads/*

!/public/uploads/
!/public/uploads/avatars/
!/public/uploads/moments/
!/public/uploads/news/

/public/uploads/avatars/*
/public/uploads/moments/*
/public/uploads/news/*

!/public/uploads/avatars/.gitkeep
!/public/uploads/moments/.gitkeep
!/public/uploads/news/.gitkeep